# Python 임시 파일
__pycache__/
*.pyc

# Conda 가상환경 폴더
.conda/

# VS Code 편집기 설정 폴더
.vscode/

# -------------------------------
# (필수) 대회 관련 파일
# -------------------------------

# 1. 데이터 폴더 (용량 매우 큼)
train_valid/

# 테스트 데이터 폴더 (제공된다면)
test/

# 2. 모델 가중치 파일
*.pth
*.ckpt

# 3. 최종 제출 파일
submission.csv
