# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/

# Model files
*.pth
*.pt

# OS-specific
.DS_Store
Thumbs.db

# Environments
.venv/
venv/